<p>Hi, before showing you has fast I can work with numbers, what's your name?</p>

<form action='name' method='post'>
	<input type='text' name='user_name' autofocus='autofocus'>
	<input type='submit'>
</form>