<p>Alright <%= user_name%> let the magic begin. Before we start here are the parameters:</p>
<p>Based upon what number you type in I will tell you if that number is:</p>
<p>Divisible by 3 <b>and</b> 5</p>
<p>Divisible <b>only</b> by 3</p>
<p>Divisible <b>only</b> by 5</p>
<p>Or that the number is <b>not</b> divisible by 3, 5 and/or 3 and 5</p>

<form action='number' method='post'>
	<input type='number' name='user_number' autofocus='autofocus'>
	<input type='submit'>
</form>