Alright <%= your_name%> let the magic begin. Before we start here are the parameters:<br/>
Based upon what number you type in I will tell you if that number is:<br/>
Divisible by 3 <b>and</b> 5<br/>
Divisible <b>only</b> by 3<br/>
Divisible <b>only</b> by 5<br/>
Or that the number is <b>not</b> divisible by 3, 5 and/or 3 and 5<br/>

<form action="number" method="post">
	<input type="number" name="user_number">
	<input type="submit">
</form>