<%= outcome%><br/>

<form action="" method="post">
	<p>Pretty cool, right? Do you want to try another number?</p>
	<input type="radio" name="return" value="yes">Yes
	<input type="radio" name="return" value="no">No
	<input type="submit">
</form>